/PracticaPrimerParciallv4/nbproject/private/
/Ejercicio4Produccion/nbproject/private/
/ABMproductosBD/nbproject/private/
/PruebaBD/nbproject/private/
/ABMPersonas/nbproject/private/
/2°ParcialLab4/nbproject/private/
/1-ParcialLab4/nbproject/private/
/1-ParcialLab4/build/
/ServiciosJSP/nbproject/private/
/ServletsWEB/nbproject/private/
/2-ParcialLab4/nbproject/private/
/2°ParcialLab4-2.0/nbproject/private/